{% macro renderNavLink(url, title, currentUrl) %}
	{% if url == currentUrl %}
		<strong>{{ title }}</strong>
	{% else %}
		<a href="{{ url }}">{{ title }}</a>
	{% endif %}
{% endmacro %}

<nav>
	<ul>
		<li>{{ renderNavLink("/", "Home", page.url) }}</em></li>
		<li>{{ renderNavLink("/news/", "News", page.url) }}</li>
	
		{% for level1Page in pages.hierarchy %}
		<li>
			{{ renderNavLink("/" + level1Page.urlPath + "/", level1Page.title, page.url) }}

			{% if level1Page.childPages.length > 0 %}
			<ul>
				{% for level2Page in level1Page.childPages %}
				<li><small>
					{{ renderNavLink("/" + level2Page.urlPath + "/", level2Page.title, page.url) }}
					{% if level2Page.childPages.length > 0 %}
					<ul>
						{% for level3Page in level2Page.childPages %}
						<li><small>
							{{ renderNavLink("/" + level3Page.urlPath + "/", level3Page.title, page.url) }}
						</small></li>
						{% endfor %}
					</ul>
					{% endif %}
				</small></li>
				{% endfor %}
			</ul>
			{% endif %}
		</li>
		{% endfor %}

	</ul>
</nav>