{#
    Expects the context to contain an event object called "event"
#}

<div class="w-[120px] h-[140px] m-[10px] p-0 bg-[#b0b0b0] border-[10px] border-[#b0b0b0] rounded-[20px] text-center">
  <span>{{ event.startDate.toFormat("LLLL").toUpperCase() }}</span>
  <br/>
  <span class="text-[60px] font-bold">{{ event.startDate.day }}</span>
  <br/>
  <span>{{ event.startDate.year }}</span>
</div>