{# by nunjucks magic, already has access to component data #}

<section>

	<h2>{{ component.title }}</h2>

	<div style="display: flex; gap: 1rem; flex-direction: row{% if component.imageOnLeft %}-reverse{% endif %};">
		<img 
			src="{{ component.imageUrl }}" 
			alt="{{ component.imageAlt }}" 
			style="max-height: 300px; " />
	
		<div>
			{{ component.contentRichText | renderRichTextAsHtml(contentLinkLookups) | safe }}
		</div>
	</div>
	
</section>
