{#
	Expects the context to contain a variable called "component"
#}

<section>

	<div style="display: flex; gap: 1rem; flex-direction: row{% if not component.imageOnLeft %}-reverse{% endif %};">
		<img 
			src="{{ component.image.url }}" 
			alt="{{ component.image.alt }}" 
			style="max-height: 300px; " />
	
		<div>
			<h2>{{ component.title }}</h2>
			{{ component.contentRichText | renderRichTextAsHtml | safe }}
		</div>
	</div>
	
</section>
