{#
	Expects the context to contain a variable called "component".
	Uses the global "news" data
#}

<section>

	<h2>{{ component.title }}</h2>

	{% for newsPost in news.slice(0, component.numberOfPosts) %}
	<div>
		<h3><a href="/news/{{newsPost.slug}}">{{ newsPost.title }}</a></h3>
		<small>{{ newsPost.date | readableDate }} by {{ newsPost.author }}</small>		
		{{ newsPost.bodyRichText | renderRichTextAsHtml | safe }}
	</div>
	{% endfor %}

</section>