# whether to allow robots to crawl the site or not. enable only in production or local
ALLOW_ROBOTS=false

CONTENTFUL_SPACE="exampleSpace"

# get from https://app.contentful.com/spaces/exampleSpace/api/keys
CONTENTFUL_ACCESSTOKEN="DELIVERY API ACCESS TOKEN HERE" 