
# Base URL for site, used anywhere absolute URLs are required (e.g. sitemap). No trailing slash
#SITE_URL="http://localhost:8080"
SITE_URL="https://cannockswimmingclub.org"

# Whether to allow robots to crawl the site or not. Enable only in production or local
ALLOW_ROBOTS=false

# Duration (in minutes) to cache Contentful API responses in the local filesystem.
# Set to 0 to disable caching. Irrelevant in production.
LOCAL_CACHE_TTL_MINS=60

# The Contentful space ID and access token. 
# Get from your Contentful "Space settings" and "API keys" pages.
CONTENTFUL_SPACE="<EXAMPLE_SPACE_ID>"
CONTENTFUL_ACCESSTOKEN="<DELIVERY_API_ACCESS_TOKEN>"