<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    {% if not config.allowRobots %}
        <meta name="robots" content="noindex, nofollow" />
    {% endif %}

    <link rel="icon" type="image/png" href="/favicon.png"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link rel="stylesheet" href="/css/style.css" />

    <style>
a[href]:not(:where(
  /* exclude hash only links */
  [href^="#"],
  /* exclude javascript only links */
  [href^="javascript:" i],  
  /* exclude relative but not double slash only links */
  [href^="/"]:not([href^="//"]),
)):after {
  content: ' ↗️';
}
    </style>
</head>
<body>
    <header class="site-header">

        <div class="nav-bar container">
            <div class="nav-bar__logo">
                <a href="/" class="logo">Logo</a>
            </div>
            <div class="nav-bar__menu">
                <input id="menu-toggler" type="checkbox" class="menu-toggler" aria-hidden="true" />
                <label for="menu-toggler" class="show-menu">
                    <span></span>
                </label>
                {% include "components/dynamic-nav.njk" %}
            </div>
            <div class="nav-bar__login">
                <a href="https://phoenixyth.swimmanager.co.uk/login" target="_blank" class="btn btn-secondary">Login to Swim Manager</a>
            </div>
        </div>
    </header>

    <main>
        {{ content | safe }}
    </main>

    <footer style="background-color:aliceblue;border-top:2px solid black;">
        <p>&copy; My Website. All rights reserved. | <a href="/styles/">Styles</a></p>
    </footer>
</body>
</html>