<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    {% if not config.allowRobots %}
      <meta name="robots" content="noindex, nofollow"/>
    {% endif %}
    <link rel="icon" type="image/png" href="/favicon.png"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&family=Montserrat:wght@700;800;900&display=swap">
    <link rel="stylesheet" href="/css/tailwind.css"/>
    <link rel="stylesheet" href="/css/components/navbar.css"/>
  </head>
  <body class="{{ bodyClass | default('') }}">
    {% include "components/header.njk" %}
    <main class="pt-16 lg:pt-15">
      {{ content | safe }}
    </main>
    {% include "components/footer.njk" %}
    <script src="/js/navbar.js"></script>
  </body>
</html>