--- 
permalink: /sitemap.xml
layout: false
eleventyExcludeFromCollections: true

---
{#- 
  See https://www.sitemaps.org/protocol.html.
  The syntax is fragile, so be careful when editing this file and inspect the generated output.
  In particular, pay attention to the whitespace and the "-" characters in the Nunjucks syntax.
-#}

<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  {%- if config.allowRobots -%}
    {%- for page in collections.all | sort(false, false, "url") -%}
      <url>
        <loc>{{ config.siteUrl }}{{ page.url }}</loc>
      </url>
    {%- endfor -%}
  {%- endif -%}
</urlset>
