---
eleventyComputed:
  title: "{{ homepage.title }}"
layout: layouts/base.njk
permalink: /index.html
---

<h1 class="text-4xl font-bold text-gray-900 mb-6">{{ title }}</h1>

{% set components = homepage.components %}
{% include "components/dynamic-components.njk" %}