---
eleventyComputed:
  title: "{{ homepage.title }}"
layout: layouts/base.njk
permalink: /index.html
---

<h1>{{ title }}</h1>

{% set components = homepage.components %}
{% include "components/dynamic-components.njk" %}