---
eleventyComputed:
  title: "{{ homepage.title }}"
layout: layouts/base.njk
permalink: /index.html
---

<h1>{{ title }}</h1>

{% for component in homepage.components %}

    <hr />

    {% if component.type == "componentLatestNews" %}
        {% include "components/recent-news.njk" %}
    {% elif component.type == "componentImageFeature" %}
        {% include "components/image-feature.njk" %}
    {% endif %}

    {% if loop.last %}
        <hr />
    {% endif %}

{% endfor %}