---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">

    {%- if config.allowRobots -%}
        {%- for page in collections.all | sort(false, false, "url") -%}
            <url>
                <loc>{{ config.siteUrl }}{{ page.url }}</loc>
            </url>
        {%- endfor -%}
    {%- endif -%}

</urlset>