---
title: Competitive Squads
layout: layouts/base.njk
permalink: /competitive-squads/index.html

---

<h1>{{ title }}</h1>

{% for squad in squads %}
  <h2>{{ squad.name }}</h2>
  <div>{{ squad.descriptionRichText | renderRichTextAsHtml | safe }}</div>

  <table class="border-collapse">
    <tr>
      <th class="border border-black p-1 text-left">Day</th>
      <th class="border border-black p-1 text-left">Session Type</th>
      <th class="border border-black p-1 text-left">Time</th>
      <th class="border border-black p-1 text-left">Location</th>
    </tr>

    {%- for day, sessions in squad.timetable -%}
      {%- for session in sessions -%}
        <tr>
          {%- if loop.first -%}
            <th class="border border-black p-1 text-left" rowspan="{{ sessions.length }}">{{ day }}</th>
          {%- endif -%}

          <td class="border border-black p-1 text-left">{{ session.activity }}</td>
          <td class="border border-black p-1 text-left">
            {{ session.startTime }}
            -
            {{ session.endTime }}
          </td>

          {%- if loop.first -%}
            <td class="border border-black p-1 text-left" rowspan="{{ sessions.length }}">
              <a href="{{session.venue.websiteUrl}}">{{
                session.venue.name
              }}</a>
            </td>
          {%- endif -%}
        </tr>
      {%- else -%}
        <tr>
          <th class="border border-black p-1 text-left">{{ day }}</th>
          <td class="border border-black p-1 text-left" colspan="3">No training</td>
        </tr>
      {%- endfor -%}
    {%- endfor -%}
  </table>

  {% if not loop.last %}
    <hr />
  {% endif %}
{% endfor %}
