{#
    Expects the context to include:
    - committeeRole: the referenced committee role - see mapCommitteeRole function in src/lib/contentful/mappers.js
    - type: the type of reference ("entry-hyperlink" | "embedded-entry-inline" | "embedded-entry-block")
    - linkText: only relevant for "entry-hyperlink" type
#}

{% set memberNames = (committeeRole.members | join('/')) or "Vacant" %}

{# render simple link #}
{% if type == "entry-hyperlink" %}

  <a href="mailto:{{ committeeRole.email }}">{{ linkText or committeeRole.name }}</a>

{# render inline embedded entry as role with member names #}
{% elif type == "embedded-entry-inline" %}

  <span>{{ committeeRole.title }}: {{ memberNames }}</span>

{# render block embedded entry with role, member names, and description #}
{% elif type == "embedded-entry-block" %}

  <p>
    <strong>{{ committeeRole.title }}</strong><br/>
    {% if committeeRole.descriptionMarkdown %}
      {{ committeeRole.descriptionMarkdown | renderMarkdownAsHtml | safe }}<br/>
    {% endif %}
    Held by: {{ memberNames }}<br/>
  </p>

{% else %}
  <!-- Unhandled committeeRole reference type "{{ type }}" -->
{% endif %}
